/* Signup Page */
#signup {
  border: 1px solid grey;
  padding: 10px
}




/* Footer */
.footer {
  background-color: blue;
  height: 100px;
  text-align: center;
  color: white;
  margin-top: 20px;
}